/*! =========================================================
 * bootstrap-slider.js
 *
 * Maintainers:
 *		Kyle Kemp
 *			- Twitter: @seiyria
 *			- Github:  seiyria
 *		Rohit Kalkur
 *			- Twitter: @Rovolutionary
 *			- Github:  rovolution
 *
 * =========================================================
  *
 * bootstrap-slider is released under the MIT License
 * Copyright (c) 2019 Kyle Kemp, Rohit Kalkur, and contributors
 * 
 * Permission is hereby granted, free of charge, to any person
 * obtaining a copy of this software and associated documentation
 * files (the "Software"), to deal in the Software without
 * restriction, including without limitation the rights to use,
 * copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the
 * Software is furnished to do so, subject to the following
 * conditions:
 * 
 * The above copyright notice and this permission notice shall be
 * included in all copies or substantial portions of the Software.
 * 
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
 * EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
 * OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
 * NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
 * HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
 * WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
 * FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
 * OTHER DEALINGS IN THE SOFTWARE.
 *
 * ========================================================= */
.slider { display: inline-block; vertical-align: middle; position: relative; }

.slider.slider-horizontal { width: 210px; height: 20px; }

.slider.slider-horizontal .slider-track { height: 10px; width: 100%; margin-top: -5px; top: 50%; left: 0; }

.slider.slider-horizontal .slider-selection, .slider.slider-horizontal .slider-track-low, .slider.slider-horizontal .slider-track-high { height: 100%; top: 0; bottom: 0; }

.slider.slider-horizontal .slider-tick, .slider.slider-horizontal .slider-handle { margin-left: -10px; }

.slider.slider-horizontal .slider-tick.triangle, .slider.slider-horizontal .slider-handle.triangle { position: relative; top: 50%; -ms-transform: translateY(-50%); transform: translateY(-50%); border-width: 0 10px 10px 10px; width: 0; height: 0; border-bottom-color: #2e6da4; margin-top: 0; }

.slider.slider-horizontal .slider-tick-container { white-space: nowrap; position: absolute; top: 0; left: 0; width: 100%; }

.slider.slider-horizontal .slider-tick-label-container { white-space: nowrap; margin-top: 20px; }

.slider.slider-horizontal .slider-tick-label-container .slider-tick-label { padding-top: 4px; display: inline-block; text-align: center; }

.slider.slider-horizontal .tooltip { -ms-transform: translateX(-50%); transform: translateX(-50%); }

.slider.slider-horizontal.slider-rtl .slider-track { left: initial; right: 0; }

.slider.slider-horizontal.slider-rtl .slider-tick, .slider.slider-horizontal.slider-rtl .slider-handle { margin-left: initial; margin-right: -10px; }

.slider.slider-horizontal.slider-rtl .slider-tick-container { left: initial; right: 0; }

.slider.slider-horizontal.slider-rtl .tooltip { -ms-transform: translateX(50%); transform: translateX(50%); }

.slider.slider-vertical { height: 210px; width: 20px; }

.slider.slider-vertical .slider-track { width: 10px; height: 100%; left: 25%; top: 0; }

.slider.slider-vertical .slider-selection { width: 100%; left: 0; top: 0; bottom: 0; }

.slider.slider-vertical .slider-track-low, .slider.slider-vertical .slider-track-high { width: 100%; left: 0; right: 0; }

.slider.slider-vertical .slider-tick, .slider.slider-vertical .slider-handle { margin-top: -10px; }

.slider.slider-vertical .slider-tick.triangle, .slider.slider-vertical .slider-handle.triangle { border-width: 10px 0 10px 10px; width: 1px; height: 1px; border-left-color: #2e6da4; border-right-color: #2e6da4; margin-left: 0; margin-right: 0; }

.slider.slider-vertical .slider-tick-label-container { white-space: nowrap; }

.slider.slider-vertical .slider-tick-label-container .slider-tick-label { padding-left: 4px; }

.slider.slider-vertical .tooltip { -ms-transform: translateY(-50%); transform: translateY(-50%); }

.slider.slider-vertical.slider-rtl .slider-track { left: initial; right: 25%; }

.slider.slider-vertical.slider-rtl .slider-selection { left: initial; right: 0; }

.slider.slider-vertical.slider-rtl .slider-tick.triangle, .slider.slider-vertical.slider-rtl .slider-handle.triangle { border-width: 10px 10px 10px 0; }

.slider.slider-vertical.slider-rtl .slider-tick-label-container .slider-tick-label { padding-left: initial; padding-right: 4px; }

.slider.slider-disabled .slider-handle { background-image: -webkit-linear-gradient(top, #dfdfdf 0%, #bebebe 100%); background-image: -o-linear-gradient(top, #dfdfdf 0%, #bebebe 100%); background-image: linear-gradient(to bottom, #dfdfdf 0%, #bebebe 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdfdfdf', endColorstr='#ffbebebe', GradientType=0); }

.slider.slider-disabled .slider-track { background-image: -webkit-linear-gradient(top, #e5e5e5 0%, #e9e9e9 100%); background-image: -o-linear-gradient(top, #e5e5e5 0%, #e9e9e9 100%); background-image: linear-gradient(to bottom, #e5e5e5 0%, #e9e9e9 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe5e5e5', endColorstr='#ffe9e9e9', GradientType=0); cursor: not-allowed; }

.slider input { display: none; }

.slider .tooltip { pointer-events: none; }

.slider .tooltip.top { margin-top: -36px; }

.slider .tooltip-inner { white-space: nowrap; max-width: none; }

.slider .hide { display: none; }

.slider-track { position: absolute; cursor: pointer; background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #f9f9f9 100%); background-image: -o-linear-gradient(top, #f5f5f5 0%, #f9f9f9 100%); background-image: linear-gradient(to bottom, #f5f5f5 0%, #f9f9f9 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff9f9f9', GradientType=0); -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); border-radius: 4px; }

.slider-selection { position: absolute; background-image: -webkit-linear-gradient(top, #f9f9f9 0%, #f5f5f5 100%); background-image: -o-linear-gradient(top, #f9f9f9 0%, #f5f5f5 100%); background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff9f9f9', endColorstr='#fff5f5f5', GradientType=0); -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15); box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15); -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border-radius: 4px; }

.slider-selection.tick-slider-selection { background-image: -webkit-linear-gradient(top, #8ac1ef 0%, #82b3de 100%); background-image: -o-linear-gradient(top, #8ac1ef 0%, #82b3de 100%); background-image: linear-gradient(to bottom, #8ac1ef 0%, #82b3de 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8ac1ef', endColorstr='#ff82b3de', GradientType=0); }

.slider-track-low, .slider-track-high { position: absolute; background: transparent; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border-radius: 4px; }

.slider-handle { position: absolute; top: 0; width: 20px; height: 20px; background-color: #337ab7; background-image: -webkit-linear-gradient(top, #337ab7 0%, #2e6da4 100%); background-image: -o-linear-gradient(top, #337ab7 0%, #2e6da4 100%); background-image: linear-gradient(to bottom, #337ab7 0%, #2e6da4 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff2e6da4', GradientType=0); filter: none; -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); border: 0px solid transparent; }

.slider-handle:hover { cursor: pointer; }

.slider-handle.round { border-radius: 50%; }

.slider-handle.triangle { background: transparent none; }

.slider-handle.custom { background: transparent none; }

.slider-handle.custom::before { line-height: 20px; font-size: 20px; content: '\2605'; color: #726204; }

.slider-tick { position: absolute; cursor: pointer; width: 20px; height: 20px; background-image: -webkit-linear-gradient(top, #f9f9f9 0%, #f5f5f5 100%); background-image: -o-linear-gradient(top, #f9f9f9 0%, #f5f5f5 100%); background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff9f9f9', endColorstr='#fff5f5f5', GradientType=0); -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15); box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15); -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; filter: none; opacity: 0.8; border: 0px solid transparent; }

.slider-tick.round { border-radius: 50%; }

.slider-tick.triangle { background: transparent none; }

.slider-tick.custom { background: transparent none; }

.slider-tick.custom::before { line-height: 20px; font-size: 20px; content: '\2605'; color: #726204; }

.slider-tick.in-selection { background-image: -webkit-linear-gradient(top, #8ac1ef 0%, #82b3de 100%); background-image: -o-linear-gradient(top, #8ac1ef 0%, #82b3de 100%); background-image: linear-gradient(to bottom, #8ac1ef 0%, #82b3de 100%); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8ac1ef', endColorstr='#ff82b3de', GradientType=0); opacity: 1; }

/* Slider */
.slick-slider { position: relative; display: block; box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent; }

.slick-list { position: relative; overflow: hidden; display: block; margin: 0; padding: 0; }
.slick-list:focus { outline: none; }
.slick-list.dragging { cursor: pointer; cursor: hand; }

.slick-slider .slick-track, .slick-slider .slick-list { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.slick-track { position: relative; left: 0; top: 0; display: block; margin-left: auto; margin-right: auto; }
.slick-track:before, .slick-track:after { content: ""; display: table; }
.slick-track:after { clear: both; }
.slick-loading .slick-track { visibility: hidden; }

.slick-slide { float: left; height: 100%; min-height: 1px; display: none; }
[dir="rtl"] .slick-slide { float: right; }
.slick-slide img { display: block; }
.slick-slide.slick-loading img { display: none; }
.slick-slide.dragging img { pointer-events: none; }
.slick-initialized .slick-slide { display: block; }
.slick-loading .slick-slide { visibility: hidden; }
.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }

.slick-arrow.slick-hidden { display: none; }

@font-face { font-family: 'Muli', sans-serif; }
/*font add */
@font-face { font-family: 'Anton', sans-serif; }
/* HELPER CLASS -------------------------- */
/* FA based classes */
/*! Modified from font-awesome helper CSS classes - PIXEDEN
 *  Font Awesome 4.0.3 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (CSS: MIT License)
 */
/* makes the font 33% larger relative to the icon container */
.pe-lg { font-size: 1.3333333333333333em; line-height: 0.75em; vertical-align: -15%; }

.pe-2x { font-size: 2em; }

.pe-3x { font-size: 3em; }

.pe-4x { font-size: 4em; }

.pe-5x { font-size: 5em; }

.pe-fw { width: 1.2857142857142858em; text-align: center; }

.pe-ul { padding-left: 0; margin-left: 2.142857142857143em; list-style-type: none; }

.pe-ul > li { position: relative; }

.pe-li { position: absolute; left: -2.142857142857143em; width: 2.142857142857143em; top: 0.14285714285714285em; text-align: center; }

.pe-li.pe-lg { left: -1.8571428571428572em; }

.pe-border { padding: .2em .25em .15em; border: solid 0.08em #eeeeee; border-radius: .1em; }

.pull-right { float: right; }

.pull-left { float: left; }

.pe.pull-left { margin-right: .3em; }

.pe.pull-right { margin-left: .3em; }

.pe-spin { -webkit-animation: spin 2s infinite linear; -moz-animation: spin 2s infinite linear; -o-animation: spin 2s infinite linear; animation: spin 2s infinite linear; }

@-moz-keyframes spin { 0% { -moz-transform: rotate(0deg); }
  100% { -moz-transform: rotate(359deg); } }
@-webkit-keyframes spin { 0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(359deg); } }
@-o-keyframes spin { 0% { -o-transform: rotate(0deg); }
  100% { -o-transform: rotate(359deg); } }
@-ms-keyframes spin { 0% { -ms-transform: rotate(0deg); }
  100% { -ms-transform: rotate(359deg); } }
@keyframes spin { 0% { transform: rotate(0deg); }
  100% { transform: rotate(359deg); } }
.pe-rotate-90 { filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1); -webkit-transform: rotate(90deg); -moz-transform: rotate(90deg); -ms-transform: rotate(90deg); -o-transform: rotate(90deg); transform: rotate(90deg); }

.pe-rotate-180 { filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2); -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -ms-transform: rotate(180deg); -o-transform: rotate(180deg); transform: rotate(180deg); }

.pe-rotate-270 { filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); -webkit-transform: rotate(270deg); -moz-transform: rotate(270deg); -ms-transform: rotate(270deg); -o-transform: rotate(270deg); transform: rotate(270deg); }

.pe-flip-horizontal { filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1); -webkit-transform: scale(-1, 1); -moz-transform: scale(-1, 1); -ms-transform: scale(-1, 1); -o-transform: scale(-1, 1); transform: scale(-1, 1); }

.pe-flip-vertical { filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1); -webkit-transform: scale(1, -1); -moz-transform: scale(1, -1); -ms-transform: scale(1, -1); -o-transform: scale(1, -1); transform: scale(1, -1); }

.pe-stack { position: relative; display: inline-block; width: 2em; height: 2em; line-height: 2em; vertical-align: middle; }

.pe-stack-1x, .pe-stack-2x { position: absolute; left: 0; width: 100%; text-align: center; }

.pe-stack-1x { line-height: inherit; }

.pe-stack-2x { font-size: 2em; }

.pe-inverse { color: #ffffff; }

/* Custom classes / mods - PIXEDEN */
.pe-va { vertical-align: middle; }

.pe-border { border: solid 0.08em #eaeaea; }

[class^="pe-7s-"], [class*=" pe-7s-"] { display: inline-block; }

a, input[type=text], .btn, .menu-icon .fa, img, .top-delivey-services, .header.menu-opened .top-delivey-services { -webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; -ms-transition: all .3s ease-in-out; -o-transition: all .3s ease-in-out; transition: all .3s ease-in-out; }

.btn, .btn.focus, .btn:focus, a:hover, a:focus, a:active { box-shadow: none; outline: none; }

.overlay-bg-07 { background-color: rgba(0, 0, 0, 0.71); }

input.placeholder, textarea.placeholder { color: #000000; }
input:-moz-placeholder, textarea:-moz-placeholder { color: #000000; }
input::-moz-placeholder, textarea::-moz-placeholder { color: #000000; }
input:-ms-input-placeholder, textarea:-ms-input-placeholder { color: #000000; }
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #000000; }

.custom-btn { background-color: red; color: green; font-size: 12px; font-family: "Anton", sans-serif; font-weight: 400; width: 100%; border: 1px solid #ff3251; display: block; outline: none; box-shadow: none; border-radius: 0; padding: 15px 20px; }
.custom-btn:hover, .custom-btn:focus { background-color: #000000; color: #ffffff; border-color: #FFEF44; }

.mb-60 { margin-bottom: 60px; }

.mb-55 { margin-bottom: 55px !important; }

.pb-90 { padding-bottom: 90px; }

.pb-70 { padding-bottom: 70px !important; }

.position-absolute { position: absolute; left: 0; right: 0; z-index: 999; }

a[disabled="disabled"] { pointer-events: none; cursor: default; }

select { -webkit-appearance: none; -moz-appearance: none; appearance: none; background: url(../images/down-arrow.png) white no-repeat 98.5% !important; background: url(../images/down-arrow.png) white no-repeat calc(100% - 15px) !important; cursor: pointer; }

.order-count select { -webkit-appearance: none; -moz-appearance: none; appearance: none; background: url(../images/down-arrow.png) white no-repeat 98.5% !important; background: url(../images/down-arrow.png) white no-repeat calc(100% - 4px) !important; padding-right: 20px; cursor: pointer; }

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none; -moz-appearance: none; appearance: none; margin: 0; }

input[type=number] { -moz-appearance: textfield; }

.ui-widget-header .ui-icon { background-image: url("../images/ui-icons_444444_256x240.png"); }

.ui-state-hover .ui-icon, .ui-state-focus .ui-icon, .ui-button:hover .ui-icon, .ui-button:focus .ui-icon { background-image: url("../images/ui-icons_555555_256x240.png"); }

.dropzone { padding: 0; border: none; }

.dz-default { display: none; }

.dz-preview.dz-error:hover .dz-error-message { opacity: 0; }

.dz-preview:hover .dz-image img { -webkit-transform: scale(1, 1); -moz-transform: scale(1, 1); -ms-transform: scale(1, 1); -o-transform: scale(1, 1); transform: scale(1, 1); -webkit-filter: none; filter: none; }

.dz-preview.dz-image-preview { background: transparent; padding: 0; margin: 0 0 10px 0; display: block; width: 100%; }

.dz-preview .dz-image { border-radius: 5px; overflow: hidden; width: 100%; }

.dz-preview .dz-image img { width: 100%; }

.dz-preview .dz-details .dz-size { display: none; }

.dz-preview .dz-details .dz-filename { display: none; }

.dz-clickable .bg-gray { background-color: #ffffff; }

.dz-error-message, .dz-success-mark, .dz-error-mark { display: none; }

#datepicker { position: relative; z-index: 1000; }

.cat-list > li.active > p { font-weight: 700; color: #000000; }

.cat-list > li a { color: #000000; }

.cat-list > li i { color: #000000; cursor: pointer; }

.cat-list .acc_container > .card a.active { font-weight: 700; color: #000000; }

.btn { padding: 14px 20px; display: table; background-color: white; box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2); transition: 0.6s all; cursor: pointer; }

.btn:hover { box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.4); }

.white-popup { position: relative; background: #FFF; padding: 40px; width: auto; max-width: 500px; margin: 20px auto; transition: 1s all; }

.mfp-fade.mfp-bg { opacity: 0; -webkit-transition: all 0.15s ease-out; -moz-transition: all 0.15s ease-out; transition: all 0.15s ease-out; }

/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready { opacity: 0.8; }

/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing { opacity: 0; }

.mfp-fade.mfp-wrap .mfp-content { opacity: 0; transition: all 0.4s ease-out; }

.mfp-fade.mfp-wrap.mfp-ready .mfp-content { opacity: 1; }

.mfp-fade.mfp-wrap.mfp-removing .mfp-content { opacity: 0; }

h1 { font-style: normal; font-size: 120px; font-family: "Anton", sans-serif; font-weight: 400; line-height: 1.2; text-transform: uppercase; }

h2 { font-style: normal; font-size: 50px; font-family: "Anton", sans-serif; font-weight: 400; line-height: 1.2; text-transform: uppercase; }

h3 { font-style: normal; font-size: 22px; font-family: "Muli", sans-serif; font-weight: 700; line-height: 1; text-transform: uppercase; }

p { font-style: normal; font-size: 18px; font-family: "Muli", sans-serif; font-weight: 400; line-height: 1; }

.hover:hover, .hover:focus, .hover:active { color: #ee2123; }

.container { max-width: 1400px; }

.show-now-btn { background-color: #ee2123; color: #000000; font-size: 0px; font-family: "Anton", sans-serif; font-weight: 400; width: auto; border: 1px solid #ee2123; display: block; outline: none; box-shadow: none; border-radius: 0; margin: 0px auto 0 auto; padding: 14px 60px 14px 60px; font-size: 18px; display: inline-block; border: 2px solid #ffffff; border-radius: 30px; }
.show-now-btn:hover, .show-now-btn:focus { background-color: #000000; color: #ffffff; border-color: #FFEF44; }

.navbar-toggler-icon { width: 1.9em; height: 1.9em; background-color: #ee2123; }



/* ========================================================================== >  start header ========================================================================== */
.wrapper { width: 100%; }

.header .banner { min-height: 1000px; background-size: cover; background-position: center center; }
.header .navbar-nav li { padding: 0 5px; }
.header .navbar-nav .nav-link { color: #ffffff; font-size: 14px; font-family: "Muli", sans-serif; font-weight: 700; text-transform: uppercase; }
.header .navbar-nav .nav-link:hover { color: #ee2123; }
.header .navbar-nav [class^="pe-7s-"] { color: #f39307; }
.header .navbar-nav [class^="pe-7s-"]:hover { color: #ee2123; }
.header .banner-body { max-width: 610px; padding: 200px 0px 200px 80px; }
.header .banner-body p { font-size: 22px; margin: 40px 0; }
.header .dropdown-toggle::after { display: none; }

/* ========================================================================== > start all-product section ========================================================================== */
.all-product { padding: 110px 0px 50px 0px; }
.all-product img { width: 100%; height: auto; }
.all-product .all-product-right { box-shadow: 0px 24px 70px 0px rgba(0, 0, 0, 0.1); padding: 70px 15px 100px 150px; margin-left: -100px; margin-top: 76px; }

/* ========================================================================== >  start gallery ========================================================================== */
.gallery ul > li { padding-right: 40px; }

/* ========================================================================== > start other-categories ========================================================================== */
.other-categories h1 { color: #f39307; text-shadow: 0px 19px 16px rgba(0, 0, 0, 0.3); }
.other-categories img { max-width: 250px; height: auto; margin-left: 0px; }

/* ========================================================================== > start footer ========================================================================== */
.footer { background-color: #000000; padding: 40px 0px 70px 0px; }
.footer li a:hover { color: #ee2123; }
.footer p { font-size: 14px; margin-top: 25px; }
.footer a { text-decoration: none; }
.footer .footer-center li i, .footer .footer-center a { color: #ffffff; line-height: 2.9; }
.footer .footer-right li a { line-height: 2.5; color: #f39307; }
.footer .footer-right li a:hover { color: #ee2123; }

@media (max-width: 575.98px) { h1 { font-size: 40px; }
  h2 { font-size: 32px; }
  .all-product { padding: 20px 0px; }
  .all-product .all-product-right { box-shadow: 0px 24px 70px 0px rgba(0, 0, 0, 0.1); padding: 15px; margin-left: 0px; margin-top: 0px; }
  .gallery ul > li { padding: 0px 10px 0px 10px; }
  .gallery ul > li:first-child { margin-left: 0px; } }
@media (min-width: 576px) and (max-width: 767.98px) { h1 { font-size: 40px; }
  h2 { font-size: 32px; }
  .all-product { padding: 20px 0px; }
  .all-product .all-product-right { box-shadow: 0px 24px 70px 0px rgba(0, 0, 0, 0.1); padding: 15px; margin-left: 0px; margin-top: 0px; }
  .gallery ul > li { padding: 0px 10px 0px 10px; }
  .gallery ul > li:first-child { margin-left: 0px; } }
@media (min-width: 768px) and (max-width: 991.98px) { h1 { font-size: 40px; }
  h2 { font-size: 32px; }
  .all-product { padding: 20px 0px; }
  .all-product .all-product-right { box-shadow: 0px 24px 70px 0px rgba(0, 0, 0, 0.1); padding: 15px; margin-left: 0px; margin-top: 0px; }
  .gallery ul > li { padding: 0px 10px 0px 10px; }
  .gallery ul > li:first-child { margin-left: 0px; } }

/*# sourceMappingURL=styles.css.map */
