@font-face { font-family: 'Muli', sans-serif; }
/*font add */
@font-face { font-family: 'Anton', sans-serif; }
/* HELPER CLASS -------------------------- */
/* FA based classes */
/*! Modified from font-awesome helper CSS classes - PIXEDEN
 *  Font Awesome 4.0.3 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (CSS: MIT License)
 */
/* makes the font 33% larger relative to the icon container */
.pe-lg { font-size: 1.3333333333333333em; line-height: 0.75em; vertical-align: -15%; }

.pe-2x { font-size: 2em; }

.pe-3x { font-size: 3em; }

.pe-4x { font-size: 4em; }

.pe-5x { font-size: 5em; }

.pe-fw { width: 1.2857142857142858em; text-align: center; }

.pe-ul { padding-left: 0; margin-left: 2.142857142857143em; list-style-type: none; }

.pe-ul > li { position: relative; }

.pe-li { position: absolute; left: -2.142857142857143em; width: 2.142857142857143em; top: 0.14285714285714285em; text-align: center; }

.pe-li.pe-lg { left: -1.8571428571428572em; }

.pe-border { padding: .2em .25em .15em; border: solid 0.08em #eeeeee; border-radius: .1em; }

.pull-right { float: right; }

.pull-left { float: left; }

.pe.pull-left { margin-right: .3em; }

.pe.pull-right { margin-left: .3em; }

.pe-spin { -webkit-animation: spin 2s infinite linear; -moz-animation: spin 2s infinite linear; -o-animation: spin 2s infinite linear; animation: spin 2s infinite linear; }

@-moz-keyframes spin { 0% { -moz-transform: rotate(0deg); }
  100% { -moz-transform: rotate(359deg); } }
@-webkit-keyframes spin { 0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(359deg); } }
@-o-keyframes spin { 0% { -o-transform: rotate(0deg); }
  100% { -o-transform: rotate(359deg); } }
@-ms-keyframes spin { 0% { -ms-transform: rotate(0deg); }
  100% { -ms-transform: rotate(359deg); } }
@keyframes spin { 0% { transform: rotate(0deg); }
  100% { transform: rotate(359deg); } }
.pe-rotate-90 { filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1); -webkit-transform: rotate(90deg); -moz-transform: rotate(90deg); -ms-transform: rotate(90deg); -o-transform: rotate(90deg); transform: rotate(90deg); }

.pe-rotate-180 { filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2); -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -ms-transform: rotate(180deg); -o-transform: rotate(180deg); transform: rotate(180deg); }

.pe-rotate-270 { filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); -webkit-transform: rotate(270deg); -moz-transform: rotate(270deg); -ms-transform: rotate(270deg); -o-transform: rotate(270deg); transform: rotate(270deg); }

.pe-flip-horizontal { filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1); -webkit-transform: scale(-1, 1); -moz-transform: scale(-1, 1); -ms-transform: scale(-1, 1); -o-transform: scale(-1, 1); transform: scale(-1, 1); }

.pe-flip-vertical { filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1); -webkit-transform: scale(1, -1); -moz-transform: scale(1, -1); -ms-transform: scale(1, -1); -o-transform: scale(1, -1); transform: scale(1, -1); }

.pe-stack { position: relative; display: inline-block; width: 2em; height: 2em; line-height: 2em; vertical-align: middle; }

.pe-stack-1x, .pe-stack-2x { position: absolute; left: 0; width: 100%; text-align: center; }

.pe-stack-1x { line-height: inherit; }

.pe-stack-2x { font-size: 2em; }

.pe-inverse { color: #ffffff; }

/* Custom classes / mods - PIXEDEN */
.pe-va { vertical-align: middle; }

.pe-border { border: solid 0.08em #eaeaea; }

[class^="pe-7s-"], [class*=" pe-7s-"] { display: inline-block; font-size: 18px; font-weight: 700; }

a, input[type=text], .btn, .menu-icon .fa, img, .top-delivey-services, .header.menu-opened .top-delivey-services { -webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; -ms-transition: all .3s ease-in-out; -o-transition: all .3s ease-in-out; transition: all .3s ease-in-out; }

.btn, .btn.focus, .btn:focus, a:hover, a:focus, a:active { box-shadow: none; outline: none; }

.overlay-bg-07 { background-color: rgba(0, 0, 0, 0.71); }

input.placeholder, textarea.placeholder { color: #000000; }
input:-moz-placeholder, textarea:-moz-placeholder { color: #000000; }
input::-moz-placeholder, textarea::-moz-placeholder { color: #000000; }
input:-ms-input-placeholder, textarea:-ms-input-placeholder { color: #000000; }
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #000000; }

.custom-btn { background-color: red; color: green; font-size: 12px; font-family: "Anton", sans-serif; font-weight: 400; width: 100%; border: 1px solid #ff3251; display: block; outline: none; box-shadow: none; border-radius: 0; padding: 15px 20px; }
.custom-btn:hover, .custom-btn:focus { background-color: #000000; color: #ffffff; border-color: #FFEF44; }

.mb-60 { margin-bottom: 60px; }

.mb-55 { margin-bottom: 55px !important; }

.pb-90 { padding-bottom: 90px; }

.pb-70 { padding-bottom: 70px !important; }

.position-absolute { position: absolute; left: 0; right: 0; z-index: 999; }

a[disabled="disabled"] { pointer-events: none; cursor: default; }

select { -webkit-appearance: none; -moz-appearance: none; appearance: none; background: url(../images/down-arrow.png) white no-repeat 98.5% !important; background: url(../images/down-arrow.png) white no-repeat calc(100% - 15px) !important; cursor: pointer; }

.order-count select { -webkit-appearance: none; -moz-appearance: none; appearance: none; background: url(../images/down-arrow.png) white no-repeat 98.5% !important; background: url(../images/down-arrow.png) white no-repeat calc(100% - 4px) !important; padding-right: 20px; cursor: pointer; }

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none; -moz-appearance: none; appearance: none; margin: 0; }

input[type=number] { -moz-appearance: textfield; }

.ui-widget-header .ui-icon { background-image: url("../images/ui-icons_444444_256x240.png"); }

.ui-state-hover .ui-icon, .ui-state-focus .ui-icon, .ui-button:hover .ui-icon, .ui-button:focus .ui-icon { background-image: url("../images/ui-icons_555555_256x240.png"); }

.dropzone { padding: 0; border: none; }

.dz-default { display: none; }

.dz-preview.dz-error:hover .dz-error-message { opacity: 0; }

.dz-preview:hover .dz-image img { -webkit-transform: scale(1, 1); -moz-transform: scale(1, 1); -ms-transform: scale(1, 1); -o-transform: scale(1, 1); transform: scale(1, 1); -webkit-filter: none; filter: none; }

.dz-preview.dz-image-preview { background: transparent; padding: 0; margin: 0 0 10px 0; display: block; width: 100%; }

.dz-preview .dz-image { border-radius: 5px; overflow: hidden; width: 100%; }

.dz-preview .dz-image img { width: 100%; }

.dz-preview .dz-details .dz-size { display: none; }

.dz-preview .dz-details .dz-filename { display: none; }

.dz-clickable .bg-gray { background-color: #ffffff; }

.dz-error-message, .dz-success-mark, .dz-error-mark { display: none; }

#datepicker { position: relative; z-index: 1000; }

.cat-list > li.active > p { font-weight: 700; color: #000000; }

.cat-list > li a { color: #000000; }

.cat-list > li i { color: #000000; cursor: pointer; }

.cat-list .acc_container > .card a.active { font-weight: 700; color: #000000; }

.btn { padding: 14px 20px; display: table; background-color: white; box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2); transition: 0.6s all; cursor: pointer; }

.btn:hover { box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.4); }

.white-popup { position: relative; background: #FFF; padding: 40px; width: auto; max-width: 500px; margin: 20px auto; transition: 1s all; }

.mfp-fade.mfp-bg { opacity: 0; -webkit-transition: all 0.15s ease-out; -moz-transition: all 0.15s ease-out; transition: all 0.15s ease-out; }

/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready { opacity: 0.8; }

/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing { opacity: 0; }

.mfp-fade.mfp-wrap .mfp-content { opacity: 0; transition: all 0.4s ease-out; }

.mfp-fade.mfp-wrap.mfp-ready .mfp-content { opacity: 1; }

.mfp-fade.mfp-wrap.mfp-removing .mfp-content { opacity: 0; }

h1 { font-style: normal; font-size: 120px; font-family: "Anton", sans-serif; font-weight: 400; line-height: 1.2; text-transform: uppercase; }

h2 { font-style: normal; font-size: 50px; font-family: "Anton", sans-serif; font-weight: 400; line-height: 1.2; text-transform: uppercase; }

h3 { font-style: normal; font-size: 22px; font-family: "Muli", sans-serif; font-weight: 700; line-height: 1; text-transform: uppercase; }

h4 { font-style: normal; font-size: 30px; font-family: "Anton", sans-serif; font-weight: 400; line-height: 1.2; }

h6 { font-style: normal; font-size: 16px; font-family: "Muli", sans-serif; font-weight: 700; line-height: 1.5; }

p { font-style: normal; font-size: 18px; font-family: "Muli", sans-serif; font-weight: 400; line-height: 1.4; }

.bottom-right-new { position: relative; }
.bottom-right-new:before { content: ''; position: absolute; right: 0; bottom: 0; width: 60px; height: 7px; background-color: #ee2123; }
.bottom-right-new:after { content: ''; position: absolute; right: 0; bottom: 0; width: 7px; height: 60px; background-color: #ee2123; }

.top-left { position: relative; }
.top-left:before { content: ''; position: absolute; left: 0; top: 0; width: 60px; height: 7px; background: #ee2123; }
.top-left:after { content: ''; position: absolute; left: 0; top: 0; width: 7px; height: 60px; background: #ee2123; }

input:focus { outline: none !important; border: 1px solid transparent; box-shadow: none !important; background-color: lightgrey; }

.card { border: none; background-color: transparent; }

.about-bg { background-repeat: no-repeat; background-position: center right; background-size: contain; }

.navbar-light .navbar-nav .nav-link.active { color: #ee2123; }

.container-fluid { max-width: 1851px; }

.container { max-width: 1562px; }

.img-fluid { width: 100%; height: auto; }

.blog-btn-padding { padding-top: 40px; }

.section-padding-shadow { box-shadow: 0px 24px 70px 0px rgba(0, 0, 0, 0.1); background-color: #ffffff; padding: 20px 0px 25px 0px; }
.section-padding-shadow .content { line-height: 1.2; }
.section-padding-shadow a { color: #ee2123; }

.section-header-padding { padding: 80px 0px 25px 0px; }

.hover:hover, .hover:focus, .hover:active { color: #ee2123; }

.show-now-btn { background-color: #ee2123; color: #000000; font-size: 0px; font-family: "Anton", sans-serif; font-weight: 400; width: auto; border: 1px solid #ee2123; display: block; outline: none; box-shadow: none; border-radius: 0; margin: 14px auto 0 auto; padding: 11px 45px 11px 45px; font-size: 18px; display: inline-block; border: 2px solid #ffffff; border-radius: 30px; }
.show-now-btn:hover, .show-now-btn:focus { background-color: #000000; color: #ffffff; border-color: #FFEF44; }

.learn-more-btn { border: 2px solid #000000; margin-top: 40px; }

.add-card-btn { border: 2px solid #000000; margin: 40px 0; padding: 15px 65px 15px 65px; }

.place-order-btn { margin: 0; }

.checkout-btn { width: 100%; }

.save-cart-btn { padding: 11px  25px; }

.sign-up-btn { border: 2px solid #000000; padding: 13px 75px 13px 75px; margin: 55px 0px 25px 0px; }

.cart-btn { background-color: #f39307; color: #000000; font-size: 0px; font-family: "Anton", sans-serif; font-weight: 400; width: auto; border: 1px solid #ee2123; display: block; outline: none; box-shadow: none; border-radius: 0; margin: 20px auto 0px auto; padding: 7px 30px 7px 30px; font-size: 18px; display: inline-block; border: 2px solid #000000; border-radius: 30px; }
.cart-btn:hover, .cart-btn:focus { background-color: #000000; color: #ffffff; border-color: #FFEF44; }

.load-more-btn { background-color: #ee2123; color: #000000; font-size: 0px; font-family: "Anton", sans-serif; font-weight: 400; width: auto; border: 1px solid #ee2123; display: block; outline: none; box-shadow: none; border-radius: 0; margin: 0px auto -50px auto; padding: 11px 45px 11px 45px; font-size: 18px; display: inline-block; border: 2px solid #000000; border-radius: 30px; }
.load-more-btn:hover, .load-more-btn:focus { background-color: #000000; color: #ffffff; border-color: #FFEF44; }

.navbar-toggler-icon { width: 1.9em; height: 1.9em; background-color: #ee2123; }

.header-text-shodow { color: #f39307; text-shadow: 3px -5px 0 #ededeb; }

/* ==========================================================================
> woocommerce start
========================================================================== */
.woocommerce ul.products.columns-4 li.product, .woocommerce-page ul.products.columns-4 li.product { margin: 0 0px 0px 0px; }

.woocommerce ul.products li.product a img { margin: 40px auto 0px auto; padding: 0px 60px 0px 60px; }

.woocommerce ul.products { margin-left: 110px; }

/* Slider */
.slick-slider { position: relative; display: block; box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent; }

.slick-list { position: relative; overflow: hidden; display: block; margin: 0; padding: 0; }
.slick-list:focus { outline: none; }
.slick-list.dragging { cursor: pointer; cursor: hand; }

.slick-slider .slick-track, .slick-slider .slick-list { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.slick-track { position: relative; left: 0; top: 0; display: block; margin-left: auto; margin-right: auto; }
.slick-track:before, .slick-track:after { content: ""; display: table; }
.slick-track:after { clear: both; }
.slick-loading .slick-track { visibility: hidden; }

.slick-slide { float: left; height: 100%; min-height: 1px; display: none; }
[dir="rtl"] .slick-slide { float: right; }
.slick-slide img { display: block; }
.slick-slide.slick-loading img { display: none; }
.slick-slide.dragging img { pointer-events: none; }
.slick-initialized .slick-slide { display: block; }
.slick-loading .slick-slide { visibility: hidden; }
.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }

.slick-arrow.slick-hidden { display: none; }

.slick-active { outline: none; }

.slider-area { position: relative; }
.slider-area .slick-active { outline: none; }
.slider-area .slick-custom-arrow-left, .slider-area .slick-custom-arrow-right { position: absolute; top: 94.6%; display: block; width: 55px; height: 55px; line-height: 0; padding: 12px; z-index: 1; transition: .2s ease-in; }
.slider-area .slick-custom-arrow-left:hover, .slider-area .slick-custom-arrow-right:hover { background-color: red; transition: .2s ease-in; cursor: pointer; }
.slider-area .slick-custom-arrow-right { left: 51px; background-color: #ee2123; }
.slider-area .slick-custom-arrow-left { background-color: #ffffff; }
.slider-area .arrow-right-icon, .slider-area .arrow-left-icon { padding: 0px 6px; }

/*
load-more
*/
.shown { display: block; }

.hidden { display: none; }

.shown1 { display: block; }

.hidden1 { display: none; }

.shown2 { display: block; }

.hidden2 { display: none; }

/* ========================================================================== >  start header ========================================================================== */
.wrapper { width: 100%; }

.header .figbros-logo { margin-left: 35px; }
.header .banner { min-height: 1000px; background-size: cover; background-position: center center; }
.header .navbar-nav li { padding: 0 10px; }
.header .navbar-nav .nav-link { color: #ffffff; font-size: 18px; font-family: "Muli", sans-serif; font-weight: 700; text-transform: uppercase; }
.header .navbar-nav .nav-link:hover { color: #ee2123; }
.header .navbar-nav [class^="pe-7s-"] { color: #f39307; }
.header .navbar-nav [class^="pe-7s-"]:hover { color: #ee2123; }
.header .banner-body { max-width: 800px; padding: 200px 0px 200px 160px; }
.header .banner-body p { font-size: 22px; margin: 40px 0; }
.header .dropdown-toggle::after { display: none; }

/* ========================================================================== > start figbros-welcome section ========================================================================== */
.figbros-welcome { padding-top: 40px; }
.figbros-welcome .flavour { font-size: 100px; }
.figbros-welcome .welcome-bg-shape { background-repeat: no-repeat; background-position: center right; }
.figbros-welcome .welcome-left-bg { min-height: 603px; background-size: contain; background-position: center; background-repeat: no-repeat; }
.figbros-welcome .welcome-left-body { z-index: 9999; }
.figbros-welcome .welcome-right-body { min-height: 620px; max-width: 800px; box-shadow: 0px 24px 70px 0px rgba(0, 0, 0, 0.1); background-color: #ffffff; padding: 70px 15px 100px 110px; margin-left: -60px; margin-top: 55px; }

/* ========================================================================== >  start product-band ========================================================================== */
.product-band { padding: 50px 0px 30px 0px; }
.product-band ul > li { padding-left: 65px; }
.product-band ul > li:first-child { padding-left: 0px; }

/* ========================================================================== >  start all-products ========================================================================== */
.products li h3 { font-size: 25px; font-family: "Anton", sans-serif; font-weight: 400; }

/* ========================================================================== > start novelties-section ========================================================================== */
.novelties { padding-bottom: 100px; }

/* ========================================================================== > start other-categories ========================================================================== */
.product-categories { margin-bottom: 70px; }
.product-categories h1 { color: #f39307; }
.product-categories a { text-decoration: none; color: #000000; font-size: 22px; font-family: "Muli", sans-serif; font-weight: 700; }
.product-categories .other-product-background { min-height: 325px; background-size: cover; width: 273px; }

/* ========================================================================== > start footer ========================================================================== */
.footer { background-color: #000000; padding: 40px 0px 70px 0px; }
.footer li a:hover { color: #ee2123; }
.footer p { font-size: 14px; margin-top: 25px; }
.footer a { text-decoration: none; }
.footer .footer-center li i, .footer .footer-center a { color: #ffffff; line-height: 2.9; }
.footer .footer-right li a { line-height: 2.5; color: #f39307; }
.footer .footer-right li a:hover { color: #ee2123; }

/* ========================================================================== >  start terms-conditions page ========================================================================== */
.header .terms { max-width: 100%; }

/* ========================================================================== >  start terms-conditions ========================================================================== */
.terms-conditions .container { background-size: auto; background-repeat: no-repeat; }
.terms-conditions .content { box-shadow: 0px 33px 95px 0px rgba(0, 0, 0, 0.1); background-color: #ffffff; max-width: 1500px; margin: 40px 0; padding: 60px; }
.terms-conditions .content h4 { padding-bottom: 30px; font-size: 32px; }
.terms-conditions .content .bottom-content h4 { padding-top: 130px; }
.terms-conditions .content .bottom-content p:last-child { margin-top: 150px; }

#terms_conditions { margin-top: 120px; }

/* ========================================================================== >  start signup html style ========================================================================== */
.signup-header { background-color: #000000; }

/* ========================================================================== >  start sign-up section ========================================================================== */
.sign-up { background-repeat: no-repeat; background-position: top 175px left 250px, top 440px right 0px; background-size: auto; padding: 170px 0; }
.sign-up .sign-up-form { box-shadow: 0px 33px 95px 0px rgba(0, 0, 0, 0.1); background-color: #ffffff; max-width: 676px; }
.sign-up .sign-up-form h1 { padding: 120px 0px 54px 0px; }
.sign-up .sign-up-form h4 { font-size: 20px; padding-bottom: 50px; }
.sign-up .sign-up-form p { margin-bottom: 50px; }
.sign-up .sign-up-form a { text-decoration: none; color: #ee2123; }
.sign-up .sign-up-form .form-control { border-left: none; border-right: none; border-top: none; border-radius: 1px; width: 82%; padding: 0; margin: auto; }
.sign-up .sign-up-form ::placeholder { color: #000000; font-size: 14px; font-family: "Muli", sans-serif; font-weight: 400; }

/* ========================================================================== > start slider-section   *****INDEX STYLE********* ========================================================================== */
.slider .banner { min-height: 1010px; background-size: cover; background-position: center center; }
.slider .banner-body { max-width: 800px; padding: 300px 0px 200px 160px; }
.slider .banner-body p { font-size: 22px; margin: 40px 0; }
.slider .hot { color: #f39307; }
.slider i { font-size: 40px; text-align: center; }

.slick-dots { display: none; visibility: hidden; }

/* ========================================================================== >  start about-us ========================================================================== */
.about-us { background-color: #f39307; padding: 160px 0px 120px 0px; }
.about-us .customer-service { font-size: 30px; }
.about-us .flavour { font-size: 100px; }
.about-us .about-content { max-width: 680px; }

/* ========================================================================== >  start product-categories ========================================================================== */
.product-categories h1 { padding-bottom: 40px; }
.product-categories .padding-top { padding: 30px 0px 0px 0px; }
.product-categories .bg-img-padding { min-height: 820px; }
.product-categories .category-body:before { content: url("../images/homepage/categories-shape-upper.png"); /* with class ModalCarrot ??*/ position: relative; left: 0px; top: -20px; }
.product-categories .category-body:after { content: url("../images/homepage/categories-shape.png"); /* with class ModalCarrot ??*/ position: relative; right: 0px; bottom: -30px; margin-left: auto; }

/* ========================================================================== > start our-brands ========================================================================== */
.our-brands { padding: 10px 0px 240px 0px; }
.our-brands .brand-content { padding-top: 120px; max-width: 660px; }
.our-brands img { padding: 20px 160px 10px 40px; text-align: center; }
.our-brands img:last-child { padding-right: 0; }
.our-brands .brand-icon-section { padding-top: 40px; }
.our-brands .brand-icon-section .brand-icon2 .logo-border:after { display: none; }
.our-brands .brand-icon-section .brand-icon2 .logo-border:before { height: 150px; top: -6%; }
.our-brands .brand-icon-section .logo-border { position: relative; padding: 20px 40px 20px 5px; }
.our-brands .brand-icon-section .logo-border:last-child:before { display: none; }
.our-brands .brand-icon-section .logo-border:after, .our-brands .brand-icon-section .logo-border:before { content: ''; position: absolute; background-color: #b7b7b7; }
.our-brands .brand-icon-section .logo-border:after { width: 230px; height: 1px; right: 7%; margin-top: 10px; }
.our-brands .brand-icon-section .logo-border:before { width: 1px; height: 100px; left: 100%; }

/* ========================================================================== > start product-development ========================================================================== */
.product-development .btn-border { border: 2px solid white; }
.product-development .product-bg { background-repeat: no-repeat; min-height: 600px; }
.product-development .card { border: none; background-color: transparent; }
.product-development .card .img-top { margin: -90px auto 0px 16px; z-index: 9999; }
.product-development .card-body { background-color: #000000; padding: 210px 15px 60px 50px; margin-top: 80px; position: absolute; box-shadow: 0px 33px 95px 0px rgba(0, 0, 0, 0.1); }
.product-development .card-body h4 { color: #ee2123; }
.product-development .card-body a { text-decoration: none; }
.product-development .product-right .card-body { background-color: #ffffff; }
.product-development .product-right .card-body h2 { color: #000000; }

/* ========================================================================== >  start blog-section ========================================================================== */
.blog { padding: 140px 0px 110px 0px; background-repeat: no-repeat; background-position: top right; }
.blog .header { background-color: #e1e2e4; padding: 60px; }
.blog .card { border: none; max-width: 450px; background-color: transparent; }
.blog .card img { max-width: 393px; min-height: 293px; }
.blog .card .img-top { z-index: 9999; margin: 20px auto -90px auto; }
.blog .card-body { box-shadow: 0px 33px 95px 0px rgba(0, 0, 0, 0.1); padding: 100px 25px 60px 25px; }
.blog .card-body a { text-decoration: none; }
.blog h4 { color: #f39307; }

/* ========================================================================== >  start header   **********ABOUT-US STYLE******** ========================================================================== */
.header .about-banner { min-height: 600px; background-size: cover; background-position: center center; }

/* ========================================================================== >  start inspired ========================================================================== */
.inspired .img-fluid { min-height: 391px; }

/* ========================================================================== >  start taste-innovation ========================================================================== */
.taste-innovation .container-fluid { max-width: 100%; }
.taste-innovation h1 { position: absolute; bottom: -8px; left: 40px; color: #a6a5a5; }
.taste-innovation h2 { position: absolute; bottom: 130px; left: 40px; color: #a6a5a5; }
.taste-innovation .about-right-shape { background-repeat: no-repeat; background-position: center right; }
.taste-innovation .right-content { max-width: 700px; margin: 60px 40px; }
.taste-innovation .right-content p { margin-bottom: 30px; line-height: 1.77; }

/* ==========================================================================
> our-team section start
========================================================================== */
.our-team { background-image: url("../images/pattern-bg.png"); background-size: auto; background-repeat: no-repeat; background-position: top; position: relative; padding-top: 70px; margin-top: -18px; }

.team-body { margin-top: -90px; padding: 150px 125px 0 125px; background-color: #ffffff; box-shadow: 0px 24px 70px 0px rgba(0, 0, 0, 0.1); }

.team-img { background-color: white; box-shadow: 0px 9px 18px 0px rgba(0, 0, 0, 0.05); margin-bottom: 48px; min-height: 375px; background-repeat: no-repeat; background-size: cover; background-position: center; }

.team-member { padding-bottom: 55px; }
.team-member h4 { font-size: 25px; }
.team-member p { color: rgba(0, 0, 0, 0.58); line-height: 1.667; margin: 0; text-transform: uppercase; }

/* ========================================================================== > Comment start ========================================================================== */
/* ========================================================================== > cart page start ========================================================================== */
.cart { padding-bottom: 80px; position: relative; }
.cart .cart-left { padding-right: 100px; }
.cart img { padding: 10px; }
.cart .your-cart { padding: 90px 0px 5px 0px; }
.cart .quantity { margin-top: -18px; }
.cart .quantity .fa { background-color: #e5e5e5; color: #000000; font-weight: 400; padding: 4px; }
.cart .quantity .fa:hover { background-color: #f39307; }
.cart .quantity .plus-first { background-color: #f39307; }
.cart table.cart { margin: 0; border: none; border-radius: 0; border-collapse: separate; border-spacing: 0 18px; }
.cart table.cart tr { background-color: white; box-shadow: 0px 10px 70px 0px rgba(0, 0, 0, 0.1); }
.cart .product-name a { color: #000000; font-size: 18px; font-family: "Muli", sans-serif; font-weight: 700; text-decoration: none; text-transform: uppercase; }
.cart .product-name h3 { color: #ee2123; font-size: 24px; margin-top: 20px; }

.woocommerce .quantity .qty { width: 3.631em; text-align: center; border: 0; }

.woocommerce a.remove { color: #000000 !important; border: 0; right: -50px; left: auto; top: 36%; }

.cart-totals { background: #f39307; padding: 40px; margin-top: 18px; }
.cart-totals table.shop_table { border: none; border-collapse: separate; border-spacing: 0 38px; }
.cart-totals table.shop_table tr > td, .cart-totals table.shop_table tr > th { padding: 30px 0 0 0; border-color: #000000; }
.cart-totals table.shop_table tr.cart-subtotal > td, .cart-totals table.shop_table tr.cart-subtotal > th { font-size: 20px; font-family: "Muli", sans-serif; color: #000000; }
.cart-totals table.shop_table tr.order-total > td { font-size: 28px; font-family: "Muli", sans-serif; color: #000000; }
.cart-totals table.shop_table tr.order-total > th { font-size: 24px; font-family: "Muli", sans-serif; color: #000000; }

.cart .wc-proceed-to-checkout .btn { width: 100%; }

/* ========================================================================== >payment-options start ========================================================================== */
.payment-option { padding: 100px 0; }
.payment-option .border-right { border-right: 1px solid #707070 !important; margin-left: auto; }
.payment-option .table-body .header-title { padding: 50px 0 25px 0; }
.payment-option .table-body .cart-subtotal p { font-size: 14px; font-family: "Muli", sans-serif; font-weight: 700; line-height: 1.2; }
.payment-option .table-body .cart-subtotal .visa { margin-top: 10px; }
.payment-option .table-body input[type='text'] { width: 30%; }
.payment-option .table-body .form-control { border-top: none; border-right: none; border-bottom: 1px solid #000000; border-left: none; border-radius: 0; padding: 0; margin-top: -15px; margin-bottom: 10px; }
.payment-option .table-body .form-control::placeholder { color: #000000; font-size: 14px; font-family: "Muli", sans-serif; font-weight: 700; }
.payment-option .table-body .card-type { padding: 0; border-top: none; border-left: none; border-right: none; border-collapse: separate; }
.payment-option .table-body .card-type a { color: #000000; font-size: 18px; font-weight: 400; font-family: "Muli", sans-serif; text-decoration: none; line-height: 2.5; margin-left: -12px; }
.payment-option .table-body .card-type .card-info img { margin-right: -12px; }
.payment-option .table-body .payment { border: 1px solid #000000; border-radius: 0; }
.payment-option .table-body .payment tbody th, .payment-option .table-body .payment td { border-top: 1px solid #000000; }
.payment-option .table-body .payment a { color: #f39307; font-size: 22px; text-decoration: none; }
.payment-option .table-body .payment a:hover { color: #ee2123; }
.payment-option .table-body .payment .remove { color: #f39307; cursor: pointer; margin-top: -2px; }
.payment-option .table-body .payment .remove:hover { color: #ee2123; }
.payment-option .table-body .payment .expires { padding-left: 50px; }
.payment-option .table-body .all-card tbody th, .payment-option .table-body .all-card td { border-bottom: 1px solid #000000; }
.payment-option .order-details .product-name { border-top: none; border-left: none; border-right: none; }
.payment-option .order-details .product-name a { color: #000000; font-size: 18px; font-family: "Muli", sans-serif; font-weight: 700; text-decoration: none; text-transform: uppercase; }
.payment-option .order-details .product-name h6 { color: #ee2123; }
.payment-option .order-details .product-name .edit { color: #f39307; text-transform: capitalize; }
.payment-option .order-details .product-name .item-amount { padding-left: 30px; }
.payment-option .order-details .card-type { padding: 0; border: none; border-collapse: separate; }
.payment-option .order-details .card-type img { padding: 20px 0; margin-left: -12px; }
.payment-option .order-details .card-type .border-bottom td { border-bottom: 1px solid #000000 !important; margin: 10px 0; }
.payment-option .order-details .card-type .cart-subtotal th, .payment-option .order-details .card-type .cart-subtotal td { border: none; }
.payment-option .order-details .card-type .cart-subtotal p { margin-left: -12px; }
.payment-option .order-details .card-type .cart-subtotal .amount { margin-right: -12px; }
.payment-option .order-details .card-type .border-top { border-top: 1px solid #000000 !important; }
.payment-option .order-details .card-type .border-top span { color: #ee2123; font-size: 18px; font-family: "Muli", sans-serif; font-weight: 700; }

[type="checkbox"] { display: none; }

/* Base for label styling */
[type="checkbox"]:not(:checked), [type="checkbox"]:checked { position: absolute; }

[type="checkbox"]:not(:checked) + label, [type="checkbox"]:checked + label { position: relative; padding-left: 1.95em; cursor: pointer; top: 12px; }

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before, [type="checkbox"]:checked + label:before { content: ''; position: absolute; left: 0; top: 0; width: 1.20em; height: 1.10em; border: 1px solid transparent; background: #fff; border-radius: 0; }

/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after, [type="checkbox"]:checked + label:after { content: '\2713\0020'; position: absolute; top: 0; left: 0; font-size: 1.7em; font-weight: 700; line-height: 0.6; color: #7ac943; transition: all .2s; font-family: "Muli", sans-serif; }

/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after { opacity: 0; transform: scale(0); }

[type="checkbox"]:checked + label:after { opacity: 1; transform: scale(1); }

/* hover style just for information */
[type="checkbox"]:not(:checked) + label:before { border: 2px solid #7d7d7d !important; border-radius: 0; }

/* ========================================================================== > payment-settings start ========================================================================== */
.my-account { box-shadow: 0px 24px 70px 0px rgba(0, 0, 0, 0.1); background: #ffffff; padding: 45px 0 3px 0; }
.my-account .header-rounded { align-items: center; background: #f39307; border: 1px solid #f39307; border-radius: 50%; font-size: 73px; width: 145px; height: 145px; text-align: center; padding: 30px; }
.my-account .header-rounded a { text-decoration: none; color: #ffffff; }
.my-account h6 { font-size: 20px; }
.my-account h4 { font-size: 36px; padding: 40px 0px 15px 45px; }
.my-account ul li { padding: 20px 0 20px 45px; }
.my-account ul li:hover { background-color: #ececec; border-left: 1px solid #ee2123; }
.my-account ul li:hover a { color: #ee2123; }
.my-account ul a { color: #000000; font-size: 18px; font-family: "Muli", sans-serif; font-weight: 700; text-decoration: none; }
.my-account ul li.active { background-color: #ececec; border-left: 1px solid #ee2123; }
.my-account ul li.active a { color: #ee2123; }

.payment-settings { box-shadow: 0px 24px 70px 0px rgba(0, 0, 0, 0.1); padding: 35px; }

.payment-subtitle { margin: 20px 0 45px 0; }

.table-body th { padding-top: 0 !important; padding-bottom: 0 !important; }

@media (max-width: 575.98px) { .payment-option .table-body .payment .expires { padding-left: 0px; }
  .woocommerce a.remove { right: 0; top: 32%; }
  .cart .cart-left { padding-right: 0; }
  .cart .cart-left td { min-width: 170px; overflow: hidden; }
  .woocommerce td.product-quantity { min-width: 150px; }
  .sign-up { background-position: top 10px left 0px, top 560px right 0px; }
  .blog { padding: 0px 0px 40px 0px; }
  .slider .banner-body { padding: 300px 0px 200px 30px; }
  .taste-innovation h2 { bottom: 60px; }
  .taste-innovation h1 { bottom: 0px; }
  .product-development .card .img-top { margin: 0; }
  .product-development .card-body { padding: 15px; margin-top: 0px; position: relative; }
  .our-brands ul > li { padding: 100px 0px 0px 0px; }
  .blog .card img { max-width: 100%; }
  .blog .card { max-width: 100%; }
  .other-categories-new .col { width: 100%; }
  h1 { font-size: 40px; }
  h2 { font-size: 32px; }
  .figbros-welcome .welcome-right-body { padding: 20px; margin-left: 0px; margin-top: 0px; }
  .figbros-welcome.welcome-left-bg { min-height: 603px; background-size: contain; background-position: center; margin: -100px 0; background-repeat: no-repeat; }
  .product-band ul > li { padding: 0px 10px 0px 10px; margin-bottom: 20px; }
  .product-band ul > li:first-child { margin-left: 0px; }
  .woocommerce ul.products.columns-4 li.product, .woocommerce-page ul.products.columns-4 li.product { width: 100%; }
  .all-products .section-padding-shadow img { padding: 0; }
  .header .banner-body { padding: 200px 0px 200px 40px; }
  .woocommerce ul.products { margin-left: 0px; }
  .footer { text-align: center; } }
@media (min-width: 576px) and (max-width: 767.98px) { .payment-option .table-body .payment .expires { padding-left: 0px; }
  .woocommerce a.remove { right: 0; top: 32%; }
  .cart .cart-left { padding-right: 0; }
  .cart .cart-left td { min-width: 170px; overflow: hidden; }
  .sign-up { background-position: top 10px left 0px, top 560px right 0px; }
  .blog { padding: 0px 0px 40px 0px; }
  .taste-innovation h1 { bottom: 0px; }
  .slider .banner-body { padding: 300px 0px 200px 30px; }
  .taste-innovation h2 { bottom: 60px; }
  .product-development .card .img-top { margin: 0; }
  .product-development .card-body { padding: 15px; margin-top: 0px; position: relative; }
  .our-brands ul > li { padding: 100px 0px 0px 0px; }
  .blog .card img { max-width: 100%; }
  .blog .card { max-width: 100%; }
  .other-categories-new .col { width: 100%; }
  h1 { font-size: 40px; }
  h2 { font-size: 32px; }
  .figbros-welcome .welcome-right-body { padding: 20px; margin-left: 0px; margin-top: 0px; }
  .figbros-welcome.welcome-left-bg { min-height: 603px; background-size: contain; background-position: center; margin: -100px 0; background-repeat: no-repeat; }
  .product-band ul > li { padding: 0px 10px 0px 10px; margin-bottom: 20px; }
  .product-band ul > li:first-child { margin-left: 0px; }
  .woocommerce ul.products.columns-4 li.product, .woocommerce-page ul.products.columns-4 li.product { width: 100%; }
  .all-products .section-padding-shadow img { padding: 0; }
  .header .banner-body { padding: 200px 0px 200px 40px; }
  .woocommerce ul.products { margin-left: 0px; }
  .footer { text-align: center; } }
@media (min-width: 768px) and (max-width: 991.98px) { .payment-option .table-body .payment .expires { padding-left: 0px; }
  .woocommerce a.remove { right: 0; top: 32%; }
  .cart .cart-left { padding-right: 0; }
  .cart .cart-left td { max-width: 100%; overflow: hidden; }
  .sign-up { background-position: top 10px left 0px, top 560px right 0px; }
  .taste-innovation h1 { bottom: 0px; }
  .slider .banner-body { padding: 300px 0px 200px 30px; }
  .taste-innovation h2 { bottom: 60px; }
  .product-development .card .img-top { margin: 0; }
  .product-development .card-body { padding: 15px; margin-top: 0px; position: relative; }
  .our-brands ul > li { padding: 100px 0px 0px 0px; }
  .blog .card { max-width: 100%; }
  .blog .card img { max-width: 100%; }
  .other-categories-new .col { width: 100%; }
  h1 { font-size: 40px; }
  h2 { font-size: 32px; }
  .figbros-welcome .welcome-right-body { padding: 20px; margin-left: 0px; margin-top: 0px; }
  .figbros-welcome.welcome-left-bg { min-height: 503px; background-size: contain; background-position: center; margin: 50px 0; background-repeat: no-repeat; }
  .product-band ul > li { padding: 0px 10px 0px 10px; margin-bottom: 20px; }
  .product-band ul > li:first-child { margin-left: 0px; }
  .woocommerce ul.products.columns-4 li.product, .woocommerce-page ul.products.columns-4 li.product { width: 100%; }
  .all-products .section-padding-shadow img { padding: 0; }
  .header .banner-body { padding: 200px 0px 200px 40px; }
  .woocommerce ul.products { margin-left: 0px; }
  .footer { text-align: center; } }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) { .sign-up { background-position: top 175px left 10px, top 640px right 0px; } }
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) { .sign-up { background-position: top 15px left 0px, top 520px right 0px; } }
@media (min-width: 882px) and (max-width: 1280px) { .header .figbros-logo { margin-left: 0px; } }
@media (min-width: 882px) and (max-width: 1280px) { .header .navbar-nav li { padding: 0 0px; } }

/*# sourceMappingURL=styles.css.map */
