input:focus {
  outline: none !important;
  border:1px solid transparent;
  box-shadow:none !important;
  background-color: lightgrey;
}
.card{
  border:none;
  background-color: transparent;
}
.about-bg{
  background-repeat: no-repeat;
  background-position: center right;
  background-size: contain;
}
.navbar-light .navbar-nav .nav-link.active {
  color: $red-color;
}
.container-fluid{
  max-width: 1851px;
}
.container {
  max-width: 1562px;
}
.img-fluid{
  width: 100%;
  height: auto;
}
.blog-btn-padding{
  padding-top: 40px;
}
.section-padding-shadow{
  box-shadow: 0px 24px 70px 0px rgba(0, 0, 0, 0.1);
  background-color: $white;
  padding:20px 0px 25px 0px;
  .content{
  line-height: 1.2;
  }
  a{
    color:$red-color;
  }
}
.section-header-padding{
  padding:80px 0px 25px 0px;
}
.hover{
  &:hover,&:focus,&:active{
    color:$red-color;
  }
}
.show-now-btn{
  @include btn($red-color, $black, 0px, $anton, $regular, auto, $red-color, $black, $white, #FFEF44);
  margin: 14px auto 0 auto;
  padding: 11px 45px 11px 45px;
  font-size: 18px;
  display: inline-block;
  border:2px solid $white;
  border-radius:30px;
}
.learn-more-btn{
  border:2px solid $black;
  margin-top: 40px;
}
.add-card-btn{
  border:2px solid $black;
  margin: 40px 0;
  padding: 15px 65px 15px 65px;
}
.place-order-btn{
  margin: 0;
}
.checkout-btn{
  width: 100%;
}
.save-cart-btn{
  padding: 11px  25px;
}
.sign-up-btn{
  border:2px solid $black;
  padding: 13px 75px 13px 75px;
  margin:55px 0px 25px 0px;
}
.cart-btn{
  @include btn($yellow-color, $black, 0px, $anton, $regular, auto, $red-color, $black, $white, #FFEF44);
  margin: 20px auto 0px auto;
  padding: 7px 30px 7px 30px;
  font-size: 18px;
  display: inline-block;
  border:2px solid $black;
  border-radius:30px;
}
.load-more-btn{
  @include btn($red-color, $black, 0px, $anton, $regular, auto, $red-color, $black, $white, #FFEF44);
  margin: 0px auto -50px auto;
  padding: 11px 45px 11px 45px;
  font-size: 18px;
  display: inline-block;
  border:2px solid $black;
  border-radius:30px;
}
.navbar-toggler-icon {
  width: 1.9em;
  height: 1.9em;
  background-color:$red-color;
}
.header-text-shodow{
  color:$yellow-color;
  text-shadow:  3px -5px 0 #ededeb;
}
.bg-img-padding{

}
/* ==========================================================================
> woocommerce start
========================================================================== */
.woocommerce ul.products.columns-4 li.product, .woocommerce-page ul.products.columns-4 li.product {
  margin: 0 0px 0px 0px;
}
.woocommerce ul.products li.product a img{
  margin:40px auto 0px auto;
  padding: 0px 60px 0px 60px;
}

.woocommerce ul.products{
  margin-left: 110px;
}
