
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .payment-option .table-body .payment .expires {
    padding-left: 0px;
  }
  .woocommerce a.remove{
    right:0;
    top:32%;
  }
  .cart .cart-left{
    padding-right: 0;
  }
 .cart .cart-left td{
   min-width: 170px;
   overflow: hidden;
 }
  .woocommerce td.product-quantity {
    min-width: 150px;
  }
  .sign-up{
    background-position: top 10px left 0px, top 560px right 0px;
  }
  .blog{
    padding:0px 0px 40px 0px;
  }
  .slider .banner-body {
    padding: 300px 0px 200px 30px;
  }
  .taste-innovation h2 {
    bottom: 60px;
  }
  .taste-innovation h1{
    bottom:0px;
  }
  .product-development .card .img-top {
   margin:0;
  }
  .product-development .card-body {
    padding:15px;
    margin-top: 0px;
    position: relative;
  }
  .our-brands ul > li {
    padding: 100px 0px 0px 0px;
  }
  .blog .card img {
    max-width: 100%;
  }
  .blog .card {
    max-width: 100%;
  }
  .other-categories-new{
    .col{
      width: 100%;
    }
  }
  h1{
    font-size: 40px;
  }
  h2{
    font-size: 32px;
  }
  .figbros-welcome .welcome-right-body{
    padding: 20px;
   margin-left: 0px;
    margin-top: 0px;
  }
  .figbros-welcome.welcome-left-bg {
    min-height: 603px;
    background-size: contain;
    background-position: center;
    margin: -100px 0;
    background-repeat: no-repeat;
  }
  .product-band ul > li {
    padding: 0px 10px 0px 10px;
    margin-bottom: 20px;
    &:first-child{
      margin-left: 0px;
    }
  }
  .woocommerce ul.products.columns-4 li.product, .woocommerce-page ul.products.columns-4 li.product {
    width: 100%;
  }
  .all-products .section-padding-shadow img {
    padding: 0;
  }
  .header .banner-body {
    padding: 200px 0px 200px 40px;
  }
  .woocommerce ul.products{
    margin-left: 0px;
  }
  .footer{
    text-align: center;
  }
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  .payment-option .table-body .payment .expires {
    padding-left: 0px;
  }
  .woocommerce a.remove{
    right:0;
    top:32%;
  }
  .cart .cart-left{
    padding-right: 0;
  }
  .cart .cart-left td{
    min-width: 170px;
    overflow: hidden;
  }
  .sign-up{
    background-position: top 10px left 0px, top 560px right 0px;
  }
  .blog{
    padding:0px 0px 40px 0px;
  }
  .taste-innovation h1{
    bottom:0px;
  }
  .slider .banner-body {
    padding: 300px 0px 200px 30px;
  }
  .taste-innovation h2 {
    bottom: 60px;
  }
  .product-development .card .img-top {
    margin:0;
  }
  .product-development .card-body {
    padding:15px;
    margin-top: 0px;
    position: relative;
  }
  .our-brands ul > li {
    padding: 100px 0px 0px 0px;
  }
  .blog .card img {
    max-width: 100%;
  }
  .blog .card {
    max-width: 100%;
  }
  .other-categories-new{
    .col{
      width: 100%;
    }
  }
  h1{
    font-size: 40px;
  }
  h2{
    font-size: 32px;
  }
  .figbros-welcome .welcome-right-body{
    padding: 20px;
    margin-left: 0px;
    margin-top: 0px;
  }
  .figbros-welcome.welcome-left-bg {
    min-height: 603px;
    background-size: contain;
    background-position: center;
    margin: -100px 0;
    background-repeat: no-repeat;
  }
  .product-band ul > li {
    padding: 0px 10px 0px 10px;
    margin-bottom: 20px;
    &:first-child{
      margin-left: 0px;
    }
  }
  .woocommerce ul.products.columns-4 li.product, .woocommerce-page ul.products.columns-4 li.product {
    width: 100%;
  }
  .all-products .section-padding-shadow img {
    padding: 0;
  }
  .header .banner-body {
    padding: 200px 0px 200px 40px;
  }
  .woocommerce ul.products{
    margin-left: 0px;
  }
  .footer{
    text-align: center;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  .payment-option .table-body .payment .expires {
    padding-left: 0px;
  }
  .woocommerce a.remove{
    right:0;
    top:32%;
  }
  .cart .cart-left{
    padding-right: 0;
  }
  .cart .cart-left td{
    max-width: 100%;
    overflow: hidden;
  }
  .sign-up{
    background-position: top 10px left 0px, top 560px right 0px;
  }
  .taste-innovation h1{
    bottom:0px;
  }
  .slider .banner-body {
    padding: 300px 0px 200px 30px;
  }
  .taste-innovation h2 {
    bottom: 60px;
  }
  .product-development .card .img-top {
    margin:0;
  }
  .product-development .card-body {
    padding:15px;
    margin-top: 0px;
    position: relative;
  }
  .our-brands ul > li {
    padding: 100px 0px 0px 0px;
  }
  .blog .card {
    max-width: 100%;
  }
  .blog .card img {
    max-width: 100%;
  }
  .other-categories-new{
    .col{
      width: 100%;
    }
  }
  h1{
    font-size: 40px;
  }
  h2{
    font-size: 32px;
  }
  .figbros-welcome .welcome-right-body{
    padding: 20px;
    margin-left: 0px;
    margin-top: 0px;
  }
  .figbros-welcome.welcome-left-bg {
    min-height: 503px;
    background-size: contain;
    background-position: center;
    margin: 50px 0;
    background-repeat: no-repeat;
  }
  .product-band ul > li {
    padding: 0px 10px 0px 10px;
    margin-bottom: 20px;
    &:first-child{
      margin-left: 0px;
    }
  }
  .woocommerce ul.products.columns-4 li.product, .woocommerce-page ul.products.columns-4 li.product {
    width: 100%;
  }
  .all-products .section-padding-shadow img {
    padding: 0;
  }
  .header .banner-body {
    padding: 200px 0px 200px 40px;
  }
  .woocommerce ul.products{
    margin-left: 0px;
  }
  .footer{
    text-align: center;
  }
}

// ipad
@media (min-width: 768px) and (max-width: 1024px) {
}
//ipad landscape
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
  .sign-up {
    background-position: top 175px left 10px, top 640px right 0px;
  }
}
//iphone x landscape
@media only screen
and (min-device-width : 375px)
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3)
and (orientation : landscape) {
  .sign-up {
    background-position: top 15px left 0px, top 520px right 0px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}

@media (min-width: 882px) and (max-width: 1280px) {
  .header .figbros-logo {
     margin-left: 0px;
  }
}
// ipad and ipad-pro
@media (min-width: 882px) and (max-width: 1280px) {
  .header .navbar-nav li {
    padding: 0 0px;
  }
}