/* ==========================================================================
  >payment-options start
  ========================================================================== */
.payment-option{
  padding: 100px 0;
  .border-right{
    border-right: 1px solid #707070 !important;
    margin-left: auto;
  }
  .table-body{
    .header-title{
      padding:50px 0 25px 0;
    }
    .cart-subtotal{
      p{
        font-size: 14px;
        font-family: $muli;
        font-weight: $bold;
        line-height: 1.2;
      }
      .visa{
        margin-top: 10px;
      }
    }
    input[type='text']{
      width: 30%;
    }
    .form-control{
      border-top: none;
      border-right: none;
      border-bottom: 1px solid $black;
      border-left: none;
      border-radius: 0;
      padding: 0;
      margin-top: -15px;
      margin-bottom: 10px;
      &::placeholder {
        color: $black;
        font-size: 14px;
        font-family: $muli;
        font-weight: $bold;
      }
    }
    .card-type{
      padding: 0;
      border-top: none;
      border-left: none;
      border-right: none;
      border-collapse: separate;
      a{
        color: $black;
        font-size: 18px;
        font-weight: $regular;
        font-family: $muli;
        text-decoration: none;
        line-height: 2.5;
        margin-left: -12px;
      }
      .card-info{
        img{
          margin-right: -12px;
        }
      }
      .cart-subtotal{

      }
    }
    .payment{
      border: 1px solid $black;
      border-radius: 0;
      tbody th,td{
        border-top: 1px solid $black;
      }
      a{
        color: $yellow-color;
        font-size: 22px;
        text-decoration: none;
        &:hover{
          color: $red-color;
        }
         }
      .remove{
        color: $yellow-color;
        cursor: pointer;
        margin-top: -2px;
        &:hover{
          color: $red-color;
        }
      }
      .expires{
       padding-left: 50px;
      }
    }
    .all-card{
      tbody th,td{
        border-bottom: 1px solid $black;
      }
    }
  }
  .order-details{
    .product-name {
      border-top: none;
      border-left: none;
      border-right: none;
      a{
        color: #000000;
        font-size: 18px;
        font-family:$muli;
        font-weight: $bold;
        text-decoration: none;
        text-transform: uppercase;
      }
      h6{
      color: $red-color;
    }
      .edit{
        color: $yellow-color;
        text-transform: capitalize;
      }
      .item-amount{
        padding-left: 30px;
      }
    }
    .card-type{
      padding: 0;
      border: none;
      border-collapse: separate;
      img{
        padding:20px 0;
        margin-left: -12px;
      }
      .border-bottom td{
        border-bottom: 1px solid $black !important;
        margin: 10px 0;
      }
      .cart-subtotal{
        th,td{
          border:none;
        }
        p{
          margin-left: -12px;
        }
        .amount{
          margin-right: -12px;
        }
      }
      .border-top{
        border-top: 1px solid $black !important;
        span{
          color: $red-color;
          font-size: 18px;
          font-family: $muli;
          font-weight: $bold;
        }
      }
    }
  }
}
[type="checkbox"]{
  display: none;
}
/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
  top: 12px;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 1.20em;
  height: 1.10em;
  border: 1px solid transparent;
  background: #fff;
  border-radius:0;
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '\2713\0020';
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.7em;
  font-weight: $bold;
  line-height: 0.6;
  color: #7ac943;
  transition: all .2s;
  font-family:$muli;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

/* hover style just for information */
label:hover:before {

}
[type="checkbox"]:not(:checked) + label:before  {
  border: 2px solid #7d7d7d !important;
  border-radius: 0;
}






