/* ==========================================================================
  > cart page start
  ========================================================================== */
.cart{
  padding-bottom: 80px;
  position: relative;
  .cart-left{
    padding-right: 100px;
  }
  img{
    padding: 10px;
  }
  .your-cart{
    padding: 90px 0px 5px 0px;
  }
  .quantity{
    margin-top: -18px;
    .fa{
      background-color: #e5e5e5;
      color: $black;
      font-weight: $regular;
      padding:4px;
      &:hover{
        background-color: $yellow-color;
      }
    }
    .plus-first{
      background-color: $yellow-color;
    }
  }
  table.cart {
    margin: 0;
    border: none;
    border-radius: 0;
    border-collapse: separate;
    border-spacing: 0 18px;
  }
  table.cart tr {
    background-color: white;
    box-shadow: 0px 10px 70px 0px rgba(0, 0, 0, 0.1);
  }
  .product-name{
    a {
      color:$black;
      font-size: 18px;
      font-family: $muli;
      font-weight: $bold;
      text-decoration: none;
      text-transform: uppercase;
    }
    h3{
      color: $red-color;
      font-size: 24px;
      margin-top: 20px;
    }
  }
}
.woocommerce .quantity .qty {
  width: 3.631em;
  text-align: center;
  border: 0;
}
.woocommerce a.remove {
  color: #000000 !important;
  border: 0;
  right: -50px;
  left: auto;
  top: 36%;
}
.cart-totals{
  background: $yellow-color;
  padding: 40px;
  margin-top: 18px;
  table.shop_table {
    border: none;
    border-collapse: separate;
    border-spacing: 0 38px;
    tr > td, tr > th {
      padding: 30px 0 0 0;
      border-color: $black;
    }
    tr.cart-subtotal > td, tr.cart-subtotal > th {
      font-size: 20px;
      font-family: $muli;
      color: $black;
    }
    tr.order-total > td {
      font-size: 28px;
      font-family: $muli;
      color: $black;
    }

    tr.order-total > th {
      font-size: 24px;
      font-family: $muli;
      color: $black;
    }

  }
}
.cart .wc-proceed-to-checkout .btn {
  width: 100%;
}
