/* ==========================================================================
  > payment-settings start
  ========================================================================== */
.my-account{
  box-shadow: 0px 24px 70px 0px rgba(0, 0, 0, 0.1);
  background: $white;
  padding: 45px 0 3px 0;
  .header-rounded{
    align-items: center;
    background: $yellow-color;
    border: 1px solid $yellow-color;
    border-radius: 50%;
    font-size: 73px;
    width: 145px;
    height: 145px;
    text-align: center;
    padding: 30px;
    a{
      text-decoration: none;
      color: $white;
    }
  }
  h6{
    font-size: 20px;
  }
  h4{
    font-size: 36px;
    padding: 40px 0px 15px 45px;
  }
  ul{
    li{
      padding: 20px 0 20px 45px;
      &:last-child{

      }
      &:hover{
        background-color: #ececec;
        border-left: 1px solid $red-color;
        a{
          color: $red-color;
        }
      }
    }
    a{
      color: $black;
      font-size: 18px;
      font-family: $muli;
      font-weight: $bold;
      text-decoration: none;
    }
    li.active{
      background-color: #ececec;
      border-left: 1px solid $red-color;
      a{
        color: $red-color;
      }
    }
  }
}
.payment-settings{
  box-shadow: 0px 24px 70px 0px rgba(0, 0, 0, 0.1);
  padding: 35px;
}
.payment-subtitle{
  margin:20px 0 45px 0;
}
.table-body th{
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}