/* ==========================================================================
  > start slider-section   *****INDEX STYLE*********
  ========================================================================== */
.slider{
  .banner{
    min-height: 1010px;
    background-size: cover;
    background-position: center center;
  }
  .banner-body{
    max-width: 800px;
    padding:300px 0px 200px 160px;
    p{
      font-size: 22px;
      margin:40px 0;
    }
  }
  .hot{
    color:$yellow-color;
  }
  i{
    font-size: 40px;
    text-align: center;
  }
}
.slick-dots{
  display: none;
  visibility: hidden;
}
/* ==========================================================================
  >  start about-us
  ========================================================================== */
.about-us{
  background-color: $yellow-color;
  padding: 160px 0px 120px 0px;
  .customer-service{
    font-size: 30px;
  }
  .flavour{
    font-size: 100px;
  }
  .about-content{
    max-width: 680px;
  }
}

/* ==========================================================================
  >  start product-categories
  ========================================================================== */
.product-categories{
  h1{
    padding-bottom: 40px;
  }
  .padding-top{
    padding:30px 0px 0px 0px;
  }
  .bg-img-padding{
    min-height: 820px;
  }
  .category-body{
    &:before{
      content:url('../images/homepage/categories-shape-upper.png'); /* with class ModalCarrot ??*/
      position: relative;
      left: 0px;
      top: -20px;
    }
    &:after{
      content:url('../images/homepage/categories-shape.png'); /* with class ModalCarrot ??*/
      position: relative;
      right: 0px;
      bottom: -30px;
      margin-left: auto;
    }
  }
}
/* ==========================================================================
  > start our-brands
  ========================================================================== */
.our-brands{
  padding:10px 0px 240px 0px;
  .brand-content{
    padding-top:120px;
    max-width: 660px;
  }
  img{
     padding:20px 160px 10px 40px;
     text-align: center;
    &:last-child{
    padding-right: 0;
    }
  }
  .brand-icon-section{
    padding-top: 40px;
    .brand-icon2{
      .logo-border{
        &:after{
          display:none;
        }
        &:before{
          height:150px;
          top:-6%;
        }
      }
    }
    .logo-border{
      position: relative;
      padding:20px 40px 20px 5px;
      &:last-child{
        &:before{
        display: none;
        }
      }
      &:after,&:before{
        content: '';
        position: absolute;
       background-color: rgb(183, 183, 183);
      }
      &:after{
        width: 230px;
        height: 1px;
        right:7%;
       margin-top: 10px;
      }
      &:before{
        width: 1px;
        height: 100px;
        left:100%;
      }
    }
  }
}

/* ==========================================================================
  > start product-development
  ========================================================================== */
.product-development{
  .btn-border {
    border:2px solid white;
  }
  .product-bg{
    background-repeat: no-repeat;
    min-height: 600px;
  }
  .card{
    border:none;
    background-color:transparent;
    .img-top{
      margin:-90px auto 0px 16px;
      z-index: 9999;
    }
}
  .card-body{
    background-color: $black;
    padding:210px 15px 60px 50px;
    margin-top: 80px;
    position: absolute;
    box-shadow: 0px 33px 95px 0px rgba(0, 0, 0, 0.1);
    h4{
      color:$red-color;
    }
    a{
      text-decoration: none;
    }
  }
  .product-right{
    .card-body{
      background-color: $white;
      h2{
        color:$black;
      }
    }
  }
}

/* ==========================================================================
  >  start blog-section
  ========================================================================== */
.blog{
  padding:140px 0px 110px 0px;
  background-repeat: no-repeat;
  background-position: top right;
  h1{

  }
  .header{
    background-color: #e1e2e4;
    padding:60px;
  }
  .card{
    border:none;
    max-width: 450px;
    background-color: transparent;
    img{
      max-width: 393px;
      min-height: 293px;
    }
    .img-top{
      z-index: 9999;
      margin:20px auto -90px auto;;
    }
  }
  .card-body{
    box-shadow: 0px 33px 95px 0px rgba(0, 0, 0, 0.1);
    padding:100px 25px 60px 25px;
    a{
      text-decoration: none;
    }
  }
  h4{
    color:$yellow-color;
  }
 .blog-background{

 }
}