
/*
load-more
*/
.shown{
  display:block;
}
.hidden{
  display:none;
}
.shown1{
  display:block;
}
.hidden1{
  display:none;
}
.shown2{
  display:block;
}
.hidden2{
  display:none;
}
/* ==========================================================================
  >  start header
  ========================================================================== */
.wrapper{
  width: 100%;
}
.header{
.figbros-logo{
  margin-left: 35px;
}
  .banner{
    min-height: 1000px;
    background-size: cover;
    background-position: center center;
  }
  .navbar-nav {
  li{
 padding:0 10px;
  }
    .nav-link{
      color:$white;
      font-size: 18px;
      font-family: $muli;
      font-weight: $bold;
      text-transform: uppercase;

      &:hover{
        color:$red-color;
      }
    }
    [class^="pe-7s-"]{
        color:$yellow-color;
      &:hover{
        color:$red-color;
      }
    }
  }
  .banner-body{
    max-width: 800px;
    padding:200px 0px 200px 160px;
    p{
      font-size: 22px;
      margin:40px 0;
    }
  }
  .dropdown-toggle::after {
    display: none;
  }
}
/* ==========================================================================
  > start figbros-welcome section
  ========================================================================== */
.figbros-welcome{
  padding-top: 40px;
  .flavour{
    font-size: 100px;
  }
  .welcome-bg-shape{
    background-repeat: no-repeat;
    background-position: center right;
  }
  .welcome-left-bg{
    min-height: 603px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  .welcome-left-body{
    z-index: 9999;
  }
  .welcome-right-body{
    min-height: 620px;
    max-width: 800px;
    box-shadow: 0px 24px 70px 0px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    padding: 70px 15px 100px 110px;
    margin-left: -60px;
    margin-top: 55px;
  }
}

/* ==========================================================================
  >  start product-band
  ========================================================================== */
.product-band{
  padding:50px 0px 30px 0px;
  ul>li{
 padding-left: 65px;
    &:first-child{
      padding-left: 0px;
    }
  }
}
/* ==========================================================================
  >  start all-products
  ========================================================================== */
.products{
 li{
    h3{
      font-size: 25px;
      font-family: $anton;
      font-weight: $regular;
    }
  }
}
/* ==========================================================================
  > start novelties-section
  ========================================================================== */
.novelties{
   padding-bottom: 100px;
}
/* ==========================================================================
  > start other-categories
  ========================================================================== */
.product-categories{
  margin-bottom:70px;
  h1{
    color:$yellow-color;
  }
  a{
    text-decoration: none;
    color:$black;
    font-size: 22px;
    font-family: $muli;
    font-weight: $bold;
  }
  .other-product-background{
    min-height: 325px;
    background-size: cover;
    width: 273px;
  }
}


/* ==========================================================================
  > start footer
  ========================================================================== */
.footer{
  background-color: $black;
  padding:40px 0px 70px 0px;
  li a{
    &:hover{
      color:$red-color;
    }
  }
  p{
    font-size: 14px;
    margin-top: 25px;
  }
  a{
    text-decoration: none;
  }
  .footer-center{
 li i, a{
   color:$white;
   line-height: 2.9;
 }
  }
  .footer-right{
    li a{
      line-height: 2.5;
      color:$yellow-color;
      &:hover{
        color:$red-color;
      }
    }
  }
}


/* ==========================================================================
  >  start terms-conditions page
  ========================================================================== */
.header{
  .terms{
    max-width: 100%;
  }
}
/* ==========================================================================
  >  start terms-conditions
  ========================================================================== */
.terms-conditions{
  .container{
    background-size: auto;
    background-repeat: no-repeat;
  }
  .content{
    box-shadow: 0px 33px 95px 0px rgba(0, 0, 0, 0.1);
    background-color: $white;
    max-width: 1500px;
    margin: 40px 0;
    padding:60px;
    h4{
      padding-bottom: 30px;
      font-size: 32px;
    }
    .bottom-content{
      h4{
        padding-top: 130px;
      }
      p{
        &:last-child{
          margin-top: 150px;
        }
      }
    }
  }
}
#terms_conditions{
  margin-top: 120px;
}

/* ==========================================================================
  >  start signup html style
  ========================================================================== */
.signup-header{
  background-color: $black;
}
/* ==========================================================================
  >  start sign-up section
  ========================================================================== */
.sign-up{
  background-repeat: no-repeat;
  background-position: top 175px left 250px, top 440px right 0px ;
  background-size: auto;
  padding:170px 0;
  .sign-up-form{
    box-shadow: 0px 33px 95px 0px rgba(0, 0, 0, 0.1);
    background-color: $white;
    max-width: 676px;
    //min-height: 797px;
    h1{
      padding:120px 0px 54px 0px;
    }
    h4{
      font-size: 20px;
      padding-bottom: 50px;
    }
    p{
      margin-bottom: 50px;
    }
    a{
      text-decoration: none;
      color:$red-color;
    }
    .form-control{
      border-left: none;
      border-right: none;
      border-top: none;
      border-radius: 1px;
      width: 82%;
      padding: 0;
      margin: auto;
    }
    ::placeholder{
      color:$black;
      font-size: 14px;
      font-family: $muli;
      font-weight: $regular;
    }
  }
}
