/* ==========================================================================
  >  start header   **********ABOUT-US STYLE********
  ========================================================================== */
.header{
.about-banner{
  min-height: 600px;
  background-size: cover;
  background-position: center center;
}
}
/* ==========================================================================
  >  start inspired
  ========================================================================== */
.inspired{
  .img-fluid{
     min-height: 391px;
  }
}
/* ==========================================================================
  >  start taste-innovation
  ========================================================================== */
.taste-innovation{
  .container-fluid{
    max-width: 100%;
  }
  h1{
    position: absolute;
    bottom: -8px;
    left: 40px;
    color:#a6a5a5;
  }
  h2{
    position: absolute;
    bottom: 130px;
    left: 40px;
    color:#a6a5a5;
  }
  .about-right-shape{
    background-repeat: no-repeat;
    background-position: center right;
  }
  .right-content{
    max-width: 700px;
    margin:60px 40px;
    p{
      margin-bottom: 30px;
      line-height: 1.77;
    }
  }
}

/* ==========================================================================
> our-team section start
========================================================================== */
.our-team {
  background-image: url('#{$assetPath}/pattern-bg.png');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: top;
  position: relative;
  padding-top: 70px;
 margin-top: -18px;
}

.team-body {
  margin-top: -90px;
  padding: 150px 125px 0 125px;
  background-color: $white;
  box-shadow: 0px 24px 70px 0px rgba(0, 0, 0, 0.1);
}

.team-img {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 9px 18px 0px rgba(0, 0, 0, 0.05);
  margin-bottom: 48px;
  min-height: 375px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.team-member {
  padding-bottom: 55px;
  h4 {
  font-size: 25px;
  }
  p {
    color: rgba(0, 0, 0, 0.58);
    line-height: 1.667;
    margin: 0;
    text-transform: uppercase;
  }
}



/* ==========================================================================
  > Comment start
  ========================================================================== */

